{% extends 'base.html.twig' %}

{% block title %}Inventory List{% endblock %}
{% block body%}

<table class="table">
  <th>
    Voici la liste des inventaires
  </th>
<tr>
  {% for inventory in inventories %}
  <td>
    <a href = inventory/{{inventory.getId()}}>  {{inventory}}  </a>(id : {{inventory.id}})
  </td>
{% endfor %} {# todos #}
</tr> 
</table>
{% endblock %}  
